
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: ;
  background-color: #D9D9D9;
}

.navigation {
  font-family: "Italiana", sans-serif;   font-weight: 400;   font-style: normal;
  padding: 1rem;
  width: 100vw;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
  font-size: 25px;
}

li a {
  text-decoration: none;
  color: black
}

.layout{
   width: 90vw;
   margin: 0 auto;

}

.layout h1{
   font-size: 77px;
}
