* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #D9D9D9;
}

.navigation {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 2rem 3rem;
  width: 100vw;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  list-style-type: none;
  font-size: 25px;
}

li a {
  text-decoration: none;
  color: black
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-info {
  display: flex;
  gap: 55px;
}

.layout {
  width: 90vw;
  margin: 0 auto;

}

.layout h1 {
  font-size: 90px;
  margin-top: 20px;
  font-weight: 400;
}

.profilepicture {
  width: 20%;
  position: absolute;
  right: 90px;
  bottom: 45px;

}

.about h1 {
  font-size: 7rem;
  margin-top: 2rem;
  font-weight: 400;
  position: absolute;
  right: 90px;
}

.about p {
  font-size: 50px;
  position: absolute;
  bottom: 2rem;
  padding: 0rem 8rem;
}

.contact h1 {
  font-size: 5rem;
  margin: 2rem 2rem;
  font-weight: 400;
}

.contact {
  width: 50%;
}


.form-section {
 width: 50%;
 margin: 10rem;

}

.form-section form {
   display: flex;
 flex-direction: column;
 gap: 20px;
}


form input {
  //maak de input iets minder breed. dus geef het een breedte
  //border radius
  //padding in je input
}
input {
  background-color: white;
}

.contactPage {
  width: 100%;
  display: flex;
}


