* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #D9D9D9;
}

.navigation {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 1rem;
  width: 100vw;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
  font-size: 25px;
}

li a {
  text-decoration: none;
  color: black
}

.layout {
  width: 90vw;
  margin: 0 auto;

}

.layout h1 {
  font-size: 77px;
  margin-top: 20px;
}

.profilepicture {
  width: 20%;
  position: absolute;
  right: 90px;
  bottom: 45px;

}

.about h1 {
  font-size: 70px;
  margin-top: 20px;
  position: absolute;
  right: 90px;
}

.about {
  font-size: 50px;
  margin-top: 40px;
  /* position: absolute;
  right: 90px; */
}