* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #D9D9D9;
}

.navigation {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 2rem 3rem;
  width: 99vw;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  list-style-type: none;
  font-size: 25px;
}

li a {
  text-decoration: none;
  color: black
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-info {
  display: flex;
  gap: 55px;
}

.layout {
  width: 90vw;
  margin: 0 auto;

}

.layout h1 {
  font-size: 90px;
  margin-top: 20px;
  font-weight: 400;
}

.profilepicture {
  width: 20%;
  position: absolute;
  right: 90px;
  bottom: 45px;
}

.about h1 {
  font-size: 7rem;
  margin-top: 2rem;
  font-weight: 400;
  position: absolute;
  right: 90px;
}

.about p {
  font-size: 45px;
  position: absolute;
  bottom: 2rem;
  padding: 0rem 8rem;
}

.contact h1 {
  font-size: 5rem;
  margin: 2rem 2rem;
  font-weight: 400;
}

.contact {
  width: 50%;
}

.contactPage {
  width: 100%;
  display: flex;
}

.form-section {
  width: 50%;
  margin: 10rem;

}

.form-section form {
  display: flex;
  flex-direction: column;
  gap: 10px;

}


form input {
  /* //maak de input iets minder breed. dus geef het een breedte
  //border radius
  //padding in je input */

  border-radius: 4px;
  padding-left: 9px;

}

::placeholder {
  color: black;

}

.contact-knop {
  border-radius: 4px;
  border: none;
  height: 35px;
  background-color: white;

}

input {
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  padding: 10px;
}



.project h1 {
  font-size: 5rem;
  margin: 2rem 5rem;
  font-weight: 400;
}

.project-card {
  width: 30%;
}

.project-card img {
  width: 100%;
}

.project-card h2 {
  font-size: 3rem;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.projects-container {
  display: flex;
  gap: 55px;
  width: 90vw;
  margin: 0 auto;
  cursor: pointer;

}

.github {
  text-decoration: none;
  color: black;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 8px;

}

.project-container {
  /* display: flex;
  width: 90vw;
  margin: 0 auto; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90vw;
  margin: 0 auto;
  gap: 40px;
}

.project-container div {
  /* width: 50%;
  position: absolute;
  bottom: 2rem;
  padding: 2rem 6rem;
  font-size: 2rem; */

  position: static;
  /* Belangrijk: absolute weghalen */
  padding: 1rem 2rem;
  font-size: 2rem;


}

.project-container .image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 0px 15px;
  height: 50%;
}

.project-container img {
  /* width: 35%;
  height: 35%;
  margin-left: 2rem; */

  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; */

  width: 100%;
  height: auto;
}

.titel-detail {
  font-size: 5rem;
  margin: 2rem 7rem;
  font-weight: 400;
}

.projectknop {
  border: none;
  background-color: #D9D9D9;
  cursor: pointer;
}

.projectknop p {
  font-weight: 600;
}

.text-container {
  max-height: 30%;
}

textarea {
  resize: none;
  height: 90px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 4px;

}